<div class="pagetop">
    <h2>新建退货单</h2>
    <div class="pbtn"><a href="" class="btn btn-default">保存</a></div>
</div>
<!-- 打印表格主体 -->
<form>
<div id="printbox" class="tableprint">
    <h1>深圳市嫘祖丝绸有限公司退货单  <span class="pull-right nospan">No.{{chukuNumber}}</span></h1>
    
    <table class="table table-bordered table-hover inputtable">     
      <caption>
        <div class="pull-left">
          <span class="djleftspan">客户：</span>
          <div class="pull-left">
          <!-- 下拉菜单 -->
          <div class="dropdown khchose">
              <input type="text" class="form-control" placeholder="请填写客户名称" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
              <div class="dropdown-menu " aria-labelledby="Khchose">
                <div class="scrollbar-rail">
                <ul>                           
                  <li><a href="">深圳市嫘祖丝绸有限公司</a></li>
                  <li><a href="">深圳市嫘祖丝绸有限公司</a></li>
                  <li><a href="">深圳市嫘祖丝绸有限公司</a></li>
                  <li><a href="">深圳市嫘祖丝绸有限公司</a></li>
                  <li><a href="">深圳市嫘祖丝绸有限公司</a></li>
                  <li><a href="">深圳市嫘祖丝绸有限公司</a></li>
                  <li><a href="">深圳市嫘祖丝绸有限公司</a></li>                                           
                </ul>
              </div>
              </div>
            </div>
            <!-- 下拉菜单 -->
          </div> 
        </div>
        <div class="pull-right">
          <p><input type="text" class="form-control datepicker" data-provide="datepicker" placeholder="请选择时间"> </p>
        </div>
        <div class="clear"></div>
      </caption>
      <thead>
        <tr>
          <th width="130">编号</th>
          <th width="130">品类</th>
          <th width="130">规格</th>
          <th width="130">单价</th>
          <th width="130">数量</th>
          <th width="130">金额</th>
          <th width="50">操作|<a href="#" class="button" ng-click="addRow()">+</a></th>
        </tr>
      </thead>
      <tbody>                   
        <tr ng-repeat='row in rows'>
          <td>
            <div class="dropdown">
              <input type="text" class="form-control" placeholder="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value=""> 
              <div class="dropdown-menu " aria-labelledby="dLabel">
                <div class="scrollbar-rail">
                <ul>                           
                  <li><a href="">18063</a></li>
                  <li><a href="">18063</a></li>
                  <li><a href="">18063</a></li>
                  <li><a href="">18063</a></li>
                  <li><a href="">18063</a></li>
                  <li><a href="">18063</a></li>
                  <li><a href="">18063</a></li>
                  <li><a href="">18063</a></li>
                  <li><a href="">18063</a></li>
                  <li><a href="">18063</a></li>
                  <li><a href="">18063</a></li>
                  <li><a href="">18063</a></li>                      
                </ul>
              </div>
              </div>
            </div>
          </td>
          <td><input type="text" class="form-control" placeholder="" value="弹力缎"></td>
          <td><input type="text" class="form-control" placeholder=""></td>
          <td><input id='p{{$index}}' type="text" class="form-control" placeholder="" onchange="priceFormat(this)"  value=""></td>
          <td><input id='n{{$index}}' type="text" class="form-control" placeholder="" onchange="numberFormat(this)" value=""></td>
          <td><input id='t{{$index}}' type="text" class="form-control text-right" placeholder=""  ng-model="row.subtotal" value=""></td>
          <td align="center"><a ng-click='remove($index)' class="blue">清空</a></td>
        </tr>
        <tr>
            <td  align="center">合计</td> 
            <td class="allmoney" colspan="5" align="right" id="sum"></td>
            <td ></td>                      
          </tr>
        <tr>
          <td  align="center">备注</td> 
          <td colspan="7" style="position: relative;">
            <textarea class="form-control textareabox" rows="3"></textarea>
            <p class="tipss">不要超过100字符,您还可以输入<span>100</span>字</p>
          </td>
        </tr>
      </tbody>               
    </table>
    
    <div class="songqian">
      <span class="pull-left">送货:<b>{{user.name}}</b></span><span class="pull-right">签收:<b>{{user.name}}</b></span>
    </div>
    

    <!--  <a class="btn btn-default btn-lg" href="">保存</a> -->
</div>
</form>
<!-- 打印表格主体 结束-->


<script>
var subtotals = [];
function priceFormat(obj) {
  var num = obj.value;
  obj.value = '¥'+numeral(num).format('0,0.00');
  getTotal(num,'price',obj.id.slice(1, 2));
}
function numberFormat(obj){
  var num = obj.value;
  obj.value = numeral(num).format('0.00');
  getTotal(num,'number',obj.id.slice(1, 2));
}
function getTotal(num,type,id){

  var priceId = 'p'+ id;
  var numberId = 'n'+ id;
  var totalId = 't'+ id;
  var totalValue;

  var subtotal = document.getElementById(totalId);

  if(type == 'price'){
    var q = document.getElementById(numberId);
    if(q.value.indexOf(",")){
      var x = q.value.split(',');
      q.value = Number(x.join(""));
    }
    totalValue = Number(num * q.value);
    subtotal.value =  numeral(totalValue).format('0,0.00');
  }else if(type == 'number'){
    var pv = document.getElementById(priceId);
    totalValue = num * pv.value.split('¥')[1];
    subtotal.value = numeral(totalValue).format('0,0.00');
  }

  subtotals[id] = totalValue;
  getSum();

}

function getSum(){

  var sum = 0;
  for(i=0;i<subtotals.length;i++){
    //alert(subtotals[i]);
    sum = sum + subtotals[i];
  }
  $('#sum').html('¥'+numeral(sum).format('0,0.00'));
}

// 限制备注中输入字符不超过100
$(".textareabox").keyup(function(){  
var txtLeng = $(' .textareabox ').val().length;      //把输入字符的长度赋给txtLeng
//拿输入的值做判断
if( txtLeng>100 ){  
//输入长度大于100时span显示0
$('.tipss span').text(' 0 '); 
//截取输入内容的前100个字符，赋给fontsize
var fontsize = $('.textareabox').val().substring(0,100);
//显示到textarea上
$('.textareabox ').val( fontsize );
}else{
//输入长度小于100时span显示100减去长度
$('.tipss span').text(100-txtLeng);  
}
});

</script>
