<div class="pagetop">
    <h2>新建印花生产单</h2>
    <div class="pbtn"><a href="ylyinhua.html" class="btn btn-default">查看预览</a></div>
</div>
<!-- 打印表格主体 -->
<div id="printbox" class="tableprint">
    <h1>深圳市嫘祖丝绸有限公司印花生产单</h1>
    
    <table class="table table-bordered table-hover inputtable">     
      <caption><span class="pull-left"> No.42563584</span><span class="pull-right">2017年11月3日</span>
      <div class="clear"></div></caption>
      <thead>
        <tr>
          <th class="tbth">标记</th>
          <th colspan="3">花型说明图</th>
          <th colspan="2">底坯</th>
        </tr>
      </thead>
      <tbody>                   
          <tr>
            <td rowspan="7" class="tdtop">
              <span class="sblack">稿</span>
              <span class="sblack">底</span>
              <span class="sblack">距</span>
              <a class="sgray" onclick="addMarker(this)">1</a>
              <a class="sgray" onclick="addMarker(this)">2</a>
              <a class="sgray" onclick="addMarker(this)">3</a>
              <a class="sgray" onclick="addMarker(this)">4</a>
              <a class="sgray" onclick="addMarker(this)">5</a>
              <a class="sgray" onclick="addMarker(this)">6</a>
              <a class="sgray" onclick="addMarker(this)">7</a>
              <a class="sgray" onclick="addMarker(this)">8</a>
              <a class="sgray" onclick="addMarker(this)">9</a>
            </td>
            <td colspan="3" rowspan="7">
              <!-- 花型说明图 -->
              <div class="patternbox" >
                  <div class="inputbox"><span>点击上传花型预览图</span><input id="patternUpload" type="file" /></div>
                  <div id="image-map"></div>
                  
              </div>
              <!-- 花型说明图 结束-->
            </td>
            <td class="tbth" align="center">编号</td>
            <td><!-- 下拉菜单 -->
              <div class="dropdown chose100">
                  <input type="text" class="form-control text-left" placeholder="请填写编号" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                  <div class="dropdown-menu yinhuabh" aria-labelledby="Khchose">
                    <div class="scrollbar-rail">
                    <ul>                           
                      <li><a href="">123456</a></li>
                      <li><a href="">123456</a></li>
                      <li><a href="">123456</a></li>
                      <li><a href="">123456</a></li>
                      <li><a href="">123456</a></li>
                      <li><a href="">123456</a></li>
                      <li><a href="">123456</a></li>                                           
                    </ul>
                  </div>
                  </div>
                </div>
                <!-- 下拉菜单 -->
            </td>
          </tr>
          <tr>
            <td align="center">品类</td>
            <td><input type="text" class="form-control text-left" placeholder=""></td>
          </tr>
          <tr>
            <td align="center">成分</td>
            <td><input type="text" class="form-control text-left" placeholder=""></td>
          </tr>
          <tr>
            <td align="center">克重</td>
            <td><input type="text" class="form-control text-left" placeholder=""></td>
          </tr>
          <tr>
            <td align="center">门幅</td>
            <td><input type="text" class="form-control text-left" placeholder=""></td>
          </tr>
          <tr>
            <th class="p0" align="center" colspan="2"><span >花号</span><input type="text" class="form-control shortinput" placeholder=""></th>
          </tr>
          <tr>
            <td align="center" class="sytd" colspan="2">参考色样</td>
          </tr>
          <tr>
            <td align="center">数量</td>
            <td class="el-checkbox longlabel"> 
              <input type="checkbox" name="checkbox1" id="1_1" value="option"><label class="el-checkbox-style " for="1_1"><span class="tablespan">ABC</span> </label>
              <input type="checkbox" name="checkbox2" id="1_2" value="option"><label class="el-checkbox-style " for="1_2"><span class="tablespan"><input type="text" class="form-control shortinput2" placeholder="">米 </span></label>
            </td>
            <td class="tbth" align="center">对色</td>
            <td class="el-checkbox longlabel">
              <input type="checkbox" name="checkbox1" id="1_3" value="option"><label class="el-checkbox-style " for="1_3"><span class="tablespan">自然光</span> </label> 
                <input type="checkbox" name="checkbox1" id="1_4" value="option"><label class="el-checkbox-style " for="1_4"><span class="tablespan">D65光源</span></label>
              </td>
            <td align="center">交期</td>
            <td><input type="text" class="form-control text-left dayadd7 datepicker" data-provide="datepicker" placeholder="选择时间"></td>
          </tr>
          <tr>
            <td align="center">色牢</td>
            <td class="el-checkbox longlabel">  <input type="checkbox" name="checkbox1" id="1_5" value="option"><label class="el-checkbox-style " for="1_5"><span class="tablespan">国标三级 </span></label></td>
            <td align="center">手感</td>
            <td class="el-checkbox longlabel">  
              <input type="checkbox" name="checkbox1" id="1_6" value="option"><label class="el-checkbox-style " for="1_6"><span class="tablespan">柔软</span>  </label>  
                <input type="checkbox" name="checkbox1" id="1_7" value="option"><label class="el-checkbox-style " for="1_7">  <span class="tablespan">正常</span>  </label>  
                <input type="checkbox" name="checkbox1" id="1_8" value="option"><label class="el-checkbox-style " for="1_8"> <span class="tablespan">硬挺 </span></label>
              </td>
            <td align="center">纰裂</td>
            <td class="el-checkbox longlabel">  <input type="checkbox" name="checkbox1" id="1_9" value="option"><label class="el-checkbox-style " for="1_9"><span class="tablespan">国标三级</span> </label></td>
          </tr>
          <tr>
            <td align="center">说明</td>
            <td class="p12" colspan="5" id="Yhbox">
              <div class="tbline el-checkbox longlabel">
                <span class="sblack">稿</span> 
                <input type="checkbox" name="checkbox1" id="1_10" value="option"><label class="el-checkbox-style " for="1_10">  <span class="tablespan">无花稿，需描稿分色</span>  </label> 
                  <input type="checkbox" name="checkbox1" id="1_11" value="option"><label class="el-checkbox-style " for="1_11">  <span class="tablespan">有花稿，仅调色，花稿已经命名 FN-0304发送至邮箱912606060@qq.com </span>  </label>
                
              </div>
              <div class="tbline  el-checkbox longlabel">
                <span class="sblack">底</span>  
                <input type="checkbox" name="checkbox1" id="1_12" value="option"><label class="el-checkbox-style " for="1_12">  <span class="tablespan">坯布本白底色（底色空）</span>  </label>
                <input type="checkbox" name="checkbox1" id="1_13" value="option"><label class="el-checkbox-style " for="1_13">  <span class="tablespan">漂白底色</span>  </label>
                <input type="checkbox" name="checkbox1" id="1_14" value="option"><label class="el-checkbox-style " for="1_14">  <span class="tablespan">染色底色：</span>  </label><input type="text" class="form-control shortinput" placeholder="" value="黄色（16-0304）">                           
              </div> 
              <div class="tbline">
                <span class="sblack">距</span> <span class="sright"><input type="text" class="form-control" placeholder=""></span> 
              </div> 
              
            </td>
          </tr>
          <tr>
            <td class="p12" colspan="2">客户:                          
              <!-- 下拉菜单 -->
              <div class="dropdown namelist">
                  <input type="text" class="form-control text-left" placeholder="请输入姓名" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                  <div class="dropdown-menu " aria-labelledby="Khchose">
                    <div class="scrollbar-rail">
                    <ul>                           
                      <li><a href="">张维怡</a></li>
                      <li><a href="">张维怡</a></li>
                      <li><a href="">张维怡</a></li>
                      <li><a href="">张维怡</a></li>
                      <li><a href="">张维怡</a></li>
                      <li><a href="">张维怡</a></li>
                      <li><a href="">张维怡</a></li>                                           
                    </ul>
                  </div>
                  </div>
                </div>
                <!-- 下拉菜单 -->
            </td>
            <td class="p12" colspan="2">排单:<b>张维怡</b></td>
            <td class="p12" colspan="2">生产:
            <!-- 下拉菜单 -->
              <div class="dropdown namelist">
                  <input type="text" class="form-control text-left" placeholder="请输入姓名" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                  <div class="dropdown-menu " aria-labelledby="Khchose">
                    <div class="scrollbar-rail">
                    <ul>                           
                      <li><a href="">张维怡</a></li>
                      <li><a href="">张维怡</a></li>
                      <li><a href="">张维怡</a></li>
                      <li><a href="">张维怡</a></li>
                      <li><a href="">张维怡</a></li>
                      <li><a href="">张维怡</a></li>
                      <li><a href="">张维怡</a></li>                                           
                    </ul>
                  </div>
                  </div>
                </div>
                <!-- 下拉菜单 -->
              </td>
          </tr>
      </tbody>               
    </table>
    
</div>
<!-- 打印表格主体 结束-->
               
<script type="text/javascript" src="js/jquery.scrollbar.js"></script> <!-- 自定义滚动条 -->
<script type="text/javascript">
  $(function(){
    $('.datepicker').datepicker({
      // 日期选择插件参数配置
      language: 'zh-CN'

    });
      // 激活自定义滚动条
        jQuery('.scrollbar-rail').scrollbar();
  });
    // 印花生产单页面花型上传,预览

$("#patternUpload").on('change', function () { 
  var thisbtn= $("#patternUpload");
  Effects(thisbtn,'#image-map'); 
});

var numberMarkers = new Array();
var inputCopy;
var map;

var Effects = function(c1,c2){
  if (typeof (FileReader) != "undefined") {
      var image_holder = $(c2);
      image_holder.empty();
      var reader = new FileReader();
      reader.onload = function (e) {

          var w = 2000,
              h = 1500,
              url = e.target.result;
              map = new L.map('image-map', {center: [0,0], minZoom:1, maxZoom:4, zoom: 1});

          var southWest = map.unproject([0,h],map.getMaxZoom()-1);
          var northEast = map.unproject([w,0],map.getMaxZoom()-1);
          var bounds = new L.LatLngBounds(southWest,northEast);
          L.imageOverlay(url,bounds).addTo(map);
          map.setMaxBounds(bounds);

          var markers = new Array();
          var marker;
          var polyline = L.polyline([], {
            color: 'black',
            weight: 2,
            opacity: .7,
            dashArray: '10,3',
            lineJoin: 'round',
            clickable: 'true'}).addTo(map);

          var myIcon = L.icon({
              iconUrl: '../newWeb/images/tabsbg.png',
              iconSize: [26, 26]
          });

          var divIcon = L.divIcon({className: 'my-div-icon'});

          var makeMarkerAndPolyline = function(latLng) {
            marker = new L.Marker(latLng, {icon: myIcon, draggable:true});
            map.addLayer(marker);
            markers.push(marker);
            polyline.addLatLng(marker.getLatLng());
            // Length - 1 is current index since arrays start with 0
            marker._polylineIndex = polyline.getLatLngs().length -1;
            polyline.redraw();

            // Marker events
            marker.on('dragstart', dragStartHandler);
            marker.on('drag', dragHandler);
            marker.on('dragend', dragEndHandler);
            //popup.on('click', storeData);
            
            return marker;
          }
          // Events
          polyline.on('click', function(e) {
          
              var marker = makeMarkerAndPolyline(e.latlng);
            
          });
          map.on('click', function(e) {
            if(markers.length<2){
              var marker =	makeMarkerAndPolyline(e.latlng);
              if(markers.length==2){
                var content = L.DomUtil.create('input', 'content');
                var popup = L.popup().setContent(content);
                marker.bindPopup(popup)
                .openPopup();
                //addRectangle(e.latlng);

                L.DomEvent.addListener(content, 'click', function(event){
                  // do stuff
                }, context);
              }
            }
          });

          
          function dragStartHandler (e) {

            // Get the polyline's latlngs
            var latlngs = polyline.getLatLngs(),
        
                // Get the marker's start latlng
                latlng = this.getLatLng();
        
            // Iterate the polyline's latlngs
            for (var i = 0; i < latlngs.length; i++) {
        
                // Compare each to the marker's latlng
                if (latlng.equals(latlngs[i])) {
        
                    // If equals store key in marker instance
                    this.polylineLatlng = i;
                }
            }
          }

          function dragHandler (e) {

            // Get the polyline's latlngs
            var latlngs = polyline.getLatLngs(),
        
                // Get the marker's current latlng
                latlng = this.getLatLng();
        
            // Replace the old latlng with the new
            latlngs.splice(this.polylineLatlng, 1, latlng);
        
            // Update the polyline with the new latlngs
            polyline.setLatLngs(latlngs);
          }

          function dragEndHandler (e) {

            // Delete key from marker instance
            delete this.polylineLatlng;
          }
          //add rectangle
          /*
          function addRectangle(latLng){
            var currentPoint = map.latLngToContainerPoint(latLng);
            var width = 80;
            var height = 30;
            var xDifference = width / 2;
            var yDifference = height / 2;
            var southWest = L.point((currentPoint.x - xDifference), (currentPoint.y - yDifference));
            var northEast = L.point((currentPoint.x + xDifference), (currentPoint.y + yDifference));
            var bounds = L.latLngBounds(map.containerPointToLatLng(southWest),map.containerPointToLatLng(northEast));
            L.rectangle(bounds).addTo(map);
          }
          */
          
      }

      image_holder.show();
      reader.readAsDataURL(c1[0].files[0]);
  } else {
      alert("你的浏览器不支持FileReader.请使用IE10以上版本.");
  }

};


function addMarker(obj){
  var checkMarker = true;
  for(i=0;i<numberMarkers.length;i++){
    if(numberMarkers[i].index==obj.innerText){
      //checkMarker = false;
      var number = "#number"+obj.innerText;
      $(number).remove();
      numberMarkers.splice(indexOf(numberMarkers[i],1));
    }
  }
  //if(checkMarker){
    if(map){
    var myIcon = L.icon({
        iconUrl: '../newWeb/images/tabsbg.png',
        iconSize: [26, 26]
    });
    var marker = new L.Marker(map.getCenter(), {icon:myIcon,title:obj.innerText,draggable:true});
    map.addLayer(marker);
    var markerObj = {index:obj.innerText,marker:marker};
    numberMarkers.push(markerObj);
    }else{
      alert('请先选择图片');
    }

    //add descriptions 
    $("#Yhbox").append('<div class="tbline" id="number'+obj.innerText+'">'+
        '<span class="sblack">'+obj.innerText+'</span><span><input type="text" class="form-control" placeholder=""></span>'+ 
    '</div>');
    

  //}
}

</script>
