<div class="pagetop">
<h2>收藏商品</h2>
<div class="pbtn colltop el-checkbox longlabel">  
    <input type="checkbox" name="checkbox1" id="1_0" value="option"><label class="el-checkbox-style " for="1_0">  <span class="tablespan">商品信息变更通知</span>  </label> 
  <a class="normalele" href="javascript:void(0)">批量管理</a>
</div>
</div>
<!-- 打印表格主体 -->
<div id="printbox" class="tableprint ">
<!-- 列表标题 -->
    <ul class="collectiontitle">
      <li class="collw1">花色预览</li>
      <li class="collw2">产品规格</li>
      <li class="collw3">价格及数量</li>                   
    </ul>
<!-- 列表标题 结束-->                
<!-- 一项列表内容 -->
    <div class="collbox">
        <div class="collw1">
          <p class="editele el-checkbox">
            <input type="checkbox" name="checkbox1" id="1_1" value="option"><label class="el-checkbox-style " for="1_1">   </label>
          </p> 
          <img src="sjimg/1.png" alt="">
        </div>
        <div class="collw2">
          <p>坯号：18062     品类：篾青绉    成分：36.5S 23.5L 40V   </p>
          <p>克重：22m/m    门幅：120㎝   类型：本白    花色：Nature</p>                          
        </div>
        <div class="collw3">
          <p>单价：121.00 元/米</p>
          <p>数量：10,000.0 米</p>
        </div>
    </div>
<!-- 一项列表内容 结束-->
<!-- 填充页面的假数据 -->
  <div class="collbox">
        <div class="collw1">
          <p class="editele el-checkbox">
            <input type="checkbox" name="checkbox1" id="1_2" value="option"><label class="el-checkbox-style " for="1_2">   </label>
          </p> 
          <img src="sjimg/1.png" alt="">
        </div>
        <div class="collw2">
          <p>坯号：18062     品类：篾青绉    成分：36.5S 23.5L 40V   </p>
          <p>克重：22m/m    门幅：120㎝   类型：本白    花色：Nature</p>                          
        </div>
        <div class="collw3">
          <p>单价：121.00 元/米</p>
          <p>数量：10,000.0 米</p>
        </div>
    </div>
    <div class="collbox">
        <div class="collw1">
          <p class="editele el-checkbox">
            <input type="checkbox" name="checkbox1" id="1_3" value="option"><label class="el-checkbox-style " for="1_3">   </label>
          </p> 
          <img src="sjimg/1.png" alt="">
        </div>
        <div class="collw2">
          <p>坯号：18062     品类：篾青绉    成分：36.5S 23.5L 40V   </p>
          <p>克重：22m/m    门幅：120㎝   类型：本白    花色：Nature</p>                          
        </div>
        <div class="collw3">
          <p>单价：121.00 元/米</p>
          <p>数量：10,000.0 米</p>
        </div>
    </div>
    <div class="collbox">
        <div class="collw1">
          <p class="editele el-checkbox">
            <input type="checkbox" name="checkbox1" id="1_4" value="option"><label class="el-checkbox-style " for="1_4">   </label>
          </p> 
          <img src="sjimg/1.png" alt="">
        </div>
        <div class="collw2">
          <p>坯号：18062     品类：篾青绉    成分：36.5S 23.5L 40V   </p>
          <p>克重：22m/m    门幅：120㎝   类型：本白    花色：Nature</p>                          
        </div>
        <div class="collw3">
          <p>单价：121.00 元/米</p>
          <p>数量：10,000.0 米</p>
        </div>
    </div>
    <div class="collbox">
        <div class="collw1">
          <p class="editele el-checkbox">
            <input type="checkbox" name="checkbox1" id="1_5" value="option"><label class="el-checkbox-style " for="1_5">   </label>
          </p> 
          <img src="sjimg/1.png" alt="">
        </div>
        <div class="collw2">
          <p>坯号：18062     品类：篾青绉    成分：36.5S 23.5L 40V   </p>
          <p>克重：22m/m    门幅：120㎝   类型：本白    花色：Nature</p>                          
        </div>
        <div class="collw3">
          <p>单价：121.00 元/米</p>
          <p>数量：10,000.0 米</p>
        </div>
    </div>
    <div class="collbox">
        <div class="collw1">
          <p class="editele el-checkbox">
            <input type="checkbox" name="checkbox1" id="1_6" value="option"><label class="el-checkbox-style " for="1_6">   </label>
          </p> 
          <img src="sjimg/1.png" alt="">
        </div>
        <div class="collw2">
          <p>坯号：18062     品类：篾青绉    成分：36.5S 23.5L 40V   </p>
          <p>克重：22m/m    门幅：120㎝   类型：本白    花色：Nature</p>                          
        </div>
        <div class="collw3">
          <p>单价：121.00 元/米</p>
          <p>数量：10,000.0 米</p>
        </div>
    </div>
    <div class="collbox">
        <div class="collw1">
          <p class="editele el-checkbox">
            <input type="checkbox" name="checkbox1" id="1_7" value="option"><label class="el-checkbox-style " for="1_7">   </label>
          </p>                          
          <img src="sjimg/1.png" alt="">
        </div>
        <div class="collw2">
          <p>坯号：18062     品类：篾青绉    成分：36.5S 23.5L 40V   </p>
          <p>克重：22m/m    门幅：120㎝   类型：本白    花色：Nature</p>                          
        </div>
        <div class="collw3">
          <p>单价：121.00 元/米</p>
          <p>数量：10,000.0 米</p>
        </div>
    </div>
<!-- 填充页面的假数据 结束-->

<!-- 编辑功能 -->
<div class="editbox editele  el-checkbox longlabel">               
<input type="checkbox" name="checkbox1" id="1_10" value="option"><label class="el-checkbox-style " for="1_10">  <span class="tablespan">全选</span>  </label>               
<div class="pull-right">
  <a href="javascript:void(0)" class="btn btn-primary">删除</a>
  <a href="javascript:void(0)" id="completebtn" class="btn btn-primary">完成</a>
</div>
</div>
<!-- 编辑功能 结束-->
</div>
<!-- 打印表格主体 结束-->
