<div class="pagetop">
    <h2>出库单</h2>
    <div class="pbtn"><a href="addchukumingxi.html" class="btn btn-default">新建出库明细</a> <button class="btn btn-default" onclick="jQuery.print('#printbox')">打印</button></div>
</div>
<!-- 打印表格主体 -->
<div id="printbox" class="tableprint">
    <h1>深圳市嫘祖丝绸有限公司出库单 <span class="pull-right nospan">No.42563584</span></h1>
    
    <table class="table table-bordered table-hover">     
      <caption>
        <div class="pull-left mtop">客户：深圳市嫘祖丝绸有限公司 </div>
        <div class="pull-right">
          <p>2017年11月3日</p>
        </div> 
        <div class="clear"></div>
        </caption>  
      <thead>
        <tr>
          <th width="140">编号</th>
          <th width="139">品类</th>
          <th width="139">规格</th>
          <th width="139">单价</th>
          <th width="139">数量</th>
          <th width="139">金额</th>
        </tr>
      </thead>
      <tbody>                   
          <tr>
          <td align="center">18063  </td>
          <td align="center">弹力缎</td>
          <td align="center"></td>
          <td align="center"></td>
          <td align="center"></td>
          <td align="right">¥1,800.00</td>
        </tr>
        <tr>
          <td align="center">18063  </td>
          <td align="center">弹力缎</td>
          <td align="center"></td>
          <td align="center"></td>
          <td align="center"></td>
          <td align="right">¥1,800.00</td>
        </tr>
        <tr>
          <td align="center">18063  </td>
          <td align="center">弹力缎</td>
          <td align="center"></td>
          <td align="center"></td>
          <td align="center"></td>
          <td align="right">¥1,800.00</td>
        </tr>
        <tr>
          <td align="center">18063  </td>
          <td align="center">弹力缎</td>
          <td align="center"></td>
          <td align="center"></td>
          <td align="center"></td>
          <td align="right">¥1,800.00</td>
        </tr>
        <tr>
          <td align="center">18063  </td>
          <td align="center">弹力缎</td>
          <td align="center"></td>
          <td align="center"></td>
          <td align="center"></td>
          <td align="right">¥1,800.00</td>
        </tr>
          <tr>
          <td  align="center">合计</td> 
          <td colspan="5" align="right">¥1,8000.00</td>
        </tr>
        <tr>
          <td  align="center">备注</td> 
          <td colspan="6" >
            
          </td>
        </tr>
      </tbody>               
    </table>
    
    <div class="songqian">
      <span class="pull-left">送货: <b>张维怡</b></span><span class="pull-right">签收: <b>张维怡</b></span>
    </div>
    <!-- 上传存根预览,预览程序见main.js -->
    <div class="cungen no-print"> 
      <div class="pull-left"> 
        <h3>出库单扫描存根</h3> 
        <div class="inputbox"><span>选择文件</span><input id="fileUpload" type="file" /></div> 
        <div class="in2"><input type="text" id="qianshourenname" onchange="qianshou()" class="form-control" placeholder="签收人"></div>
        <div class="in3"><input type="text" id="qianshoushijian" class="form-control datepicker" data-provide="datepicker" placeholder="签收时间"></div>
        <p>仅支持JPG、PNG、JPEG格式，文件小于4M</p>
      </div>                   
     <div id="image-holder"  class="pull-right"> 没有预览可用 </div>
    </div>

    <div class="void"></div>
</div>
<!-- 打印表格主体 结束-->
<p align="right"><a href="javascript:void(0)" class="blue voidbtn">作废</a></p>
<script>
  // 上传存根预览
$("#fileUpload").on('change', function () {
  var thisbtn= $("#fileUpload");
  var text = $(this).parents(".inputbox").children('span').text();
   UpLoadImg(thisbtn,'#image-holder'); 
   $(this).parents(".inputbox").children('span').text(text === '选择文件' ? '编辑' : '编辑'); 


});
</script>
