<div class="pagetop">
    <h2>对账单</h2>
    <div class="pbtn"><a class="btn btn-default" ui-sref="djcon-fapiao" ui-sref-active="active">开票</a></div>
</div>
<!-- 打印表格主体 -->
<div id="printbox" class="tableprint">
    <h1>深圳市嫘祖丝绸有限公司对账单</h1>
    
    <table class="table table-bordered table-hover table-center">     
      <caption>                   
          <div class="pull-left">
            <p>NO.5678906789</p>
            <p>客户：深圳市天尚服装有限公司 </p>
            <p class="mingxi"><b>明细</b></p>
          </div>
          <div class="pull-right el-checkbox longlabel">
            <p align="right">对账单生成日：2017/07/01</p>
            <p align="right">对账周期：2017/07/01-2017/07/31</p>
            <input type="checkbox" name="checkbox1" id="1_1" value="option"><label class="el-checkbox-style " for="1_1">  <span class="tablespan">单价:元/码 数量:码</span>  </label>
            <input type="checkbox" name="checkbox1" id="1_2" value="option"><label class="el-checkbox-style " for="1_2">  <span class="tablespan">单价:元/米 数量:米</span>  </label>
          </div>
          <div class="clear"></div>                  
      </caption>
      <thead>
        <tr>
          <th>序</th>
          <th>送货日期</th>
          <th>送货单号</th>
          <th>编号</th>
          <th>品类</th>
          <th>规格</th>
          <th>单价</th>
          <th>数量</th>
          <th>金额</th>
        </tr>
      </thead>
      <tbody>                   
          <tr>
            <td>1</td>
            <td>2017/07/12</td>
            <td>12345678</td>
            <td>12345678</td>
            <td>弹力建宏绉93%桑蚕丝+7%氨纶</td>
            <td>720 GSM-140cm</td>
            <td>123.00</td>
            <td>38.50</td>
            <td>290.00</td>
          </tr>
          <tr>
            <td>2</td>
            <td>2017/07/12</td>
            <td>12345678</td>
            <td>12345678</td>
            <td>弹力建宏绉93%桑蚕丝+7%氨纶</td>
            <td>720 GSM</td>
            <td>123.00</td>
            <td>38.50</td>
            <td>290.00</td>
          </tr>
          <tr>
            <td>3</td>
            <td>2017/07/12</td>
            <td>12345678</td>
            <td>12345678</td>
            <td>弹力建宏绉93%桑蚕丝+7%氨纶</td>
            <td>720 GSM</td>
            <td>123.00</td>
            <td>38.50</td>
            <td>290.00</td>
          </tr>
          <tr>
            <td>4</td>
            <td>2017/07/12</td>
            <td>12345678</td>
            <td>12345678</td>
            <td>弹力建宏绉93%桑蚕丝+7%氨纶</td>
            <td>720 GSM</td>
            <td>123.00</td>
            <td>38.50</td>
            <td>290.00</td>
          </tr>
          <tr>
            <td colspan="9"><span class="pull-left">合计</span><span class="pull-right"><b class="bigtxt">2,345.00</b></span></td>
          </tr>         
          
      </tbody>               
    </table>
    <div class="duizhangtips">
        <p><b>收款账户 </b>  </p>
        <p>开户银行：中国工商银行</p>
        <p>账户名称：深圳市嫘祖丝绸有限公司</p>
        <p>账户号码：456789567894567845678</p>
    </div>
    <div class="duizhangtips2">
        <p align="right">深圳市嫘祖丝绸有限公司</p>
        <p align="right">2017年12月1日</p>
    </div>


      <!-- 上传存根预览,预览程序见main.js -->
    <div class="cungen no-print"> 
      <div class="pull-left"> 
        <h3>对账单</h3> 
        <div class="inputbox"><span>选择文件</span><input id="hetongUpload2" type="file" /></div> 
        <div class="in2"><input type="text" id="qianshourenname" class="form-control" placeholder="签收人"></div>
        <div class="in3"><input type="text" id="qianshoushijian" class="form-control datepicker" data-provide="datepicker" placeholder="签收时间"></div>
        <p>仅支持JPG、PNG、JPEG格式，文件小于4M</p>
      </div>                   
      <div id="hetong-holder2"  class="pull-right"> 没有预览可用 </div>
    </div>

      <div class="contarttitle pt30"><span>付款记录 </span> <a href="javascript:void(0)"  data-toggle="modal" data-target="#fkjl" class="blue pull-right no-print">添加</a></div>
      <table class="table table-bordered table-hover inputtable">
        <thead>
          <tr>
            <th align="center" width="50">序</th>
            <th width="">时间</th>
            <th width="">金额</th>
            <th width="">备注</th>
            <th width="">凭证</th>                    
          </tr>
        </thead>
        <tbody>
            <tr>
            <td align="center">1</td>
            <td align="center">2017-12-28 19:53:48  </td>
            <td align="center"> ¥ 4,562,343.00 </td>
            <td align="center"> 定金 </td>
            <td align="center"> <a class="blue" href="">点击查看</a> </td>
          </tr>
          <tr>
            <td align="center">1</td>
            <td align="center">2017-12-28 19:53:48  </td>
            <td align="center"> ¥ 4,562,343.00 </td>
            <td align="center"> 定金 </td>
            <td align="center"> <a class="blue" href="">点击查看</a> </td>
          </tr>
          <tr>
            <td align="center">1</td>
            <td align="center">2017-12-28 19:53:48  </td>
            <td align="center"> ¥ 4,562,343.00 </td>
            <td align="center"> 定金 </td>
            <td align="center"> <a class="blue" href="">点击查看</a> </td>
          </tr>
          <tr>
            <td align="center">合计</td>
            <td class="allmoney text-right" colspan="10"><b class="bigtxt">¥2,230.00</b></td>
          </tr>
        </tbody>
      </table>

        <div class="contarttitle pt30"><span>开票记录 </span> <a href="javascript:void(0)"  data-toggle="modal" data-target="#fkjl" class="blue pull-right no-print">添加</a></div>
      <table class="table table-bordered table-hover inputtable">
        <thead>
          <tr>
            <th align="center" width="50">序</th>
            <th width="">时间</th>
            <th width="">金额</th>
            <th width="">备注</th>
            <th width="">凭证</th>                    
          </tr>
        </thead>
        <tbody>
            <tr>
            <td align="center">1</td>
            <td align="center">2017-12-28 19:53:48  </td>
            <td align="center"> ¥ 4,562,343.00 </td>
            <td align="center"> 定金 </td>
            <td align="center"> <a class="blue" href="">点击查看</a> </td>
          </tr>
          <tr>
            <td align="center">2</td>
            <td align="center">2017-12-28 19:53:48  </td>
            <td align="center"> ¥ 4,562,343.00 </td>
            <td align="center"> 定金 </td>
            <td align="center"> <a class="blue" href="">点击查看</a> </td>
          </tr>
          <tr>
            <td align="center">3</td>
            <td align="center">2017-12-28 19:53:48  </td>
            <td align="center"> ¥ 4,562,343.00 </td>
            <td align="center"> 定金 </td>
            <td align="center"> <a class="blue" href="">点击查看</a> </td>
          </tr>
          <tr>
            <td align="center">合计</td>
            <td class="allmoney text-right" colspan="10"><b class="bigtxt">¥2,230.00</b></td>
          </tr>
        </tbody>
      </table>
</div>
<!-- 打印表格主体 结束-->