<table class="table table-bordered table-hover"> 
  <thead>
    <tr>
      <th width="40"></th>
      <th><a href="">单据单号 <img src="images/up1.png" alt=""></a></th>
      <th><a href="">编号 <img src="images/up2.png" alt=""></a></th>
      <th><a href="">品类 <img src="images/up1.png" alt=""></a></th>
      <th><a href="">规格 <img src="images/up2.png" alt=""></a></th>
      <th><a href="">数量 <img src="images/up1.png" alt=""></a></th>
      <th><a href="">出单 <img src="images/up2.png" alt=""></a></th>
    </tr>
  </thead>
  <tbody>                   
      <tr>
        <td class="el-checkbox" align="center"><input type="checkbox" name="checkbox1" id="1_1" value="option"><label class="el-checkbox-style" for="1_1"></td>                       
        <td><a href="djcon-tiaozheng.html">123456789</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>                    
      </tr>
      <tr>
        <td class="el-checkbox" align="center"><input type="checkbox" name="checkbox1" id="1_2" value="option"><label class="el-checkbox-style" for="1_2"></td>                    
        <td><a href="djcon-tiaozheng.html">123456789</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>                      
      </tr>
      <tr>
        <td class="el-checkbox" align="center"><input type="checkbox" name="checkbox1" id="1_3" value="option"><label class="el-checkbox-style " for="1_3"></td>                    
        <td><a href="djcon-tiaozheng.html">123456789</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>                        
      </tr>
  </tbody>               
</table>

<!-- 通用分页 -->
<nav class="page" aria-label="Page navigation">
  <ul class="pagination">
    <!-- 给不可点击的添加.disabled类 -->
    <li class="disabled">
      <a href="#" aria-label="Previous">
        <span aria-hidden="true"><</span>
      </a>
    </li>
    <!-- 给当前页添加.active类 -->
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li><a href="#">7</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">></span>
      </a>
    </li>
  </ul>
</nav>
<!-- 通用分页 结束-->
