<div class="pagetop">
    <h3>实名认证</h3>               
</div>
<div class="realnamebox">
  <div class="infoline"><span>姓名:</span>  <input type="text" class="form-control" placeholder=""></div>
  <div class="infoline"><span>身份证号码：</span>  <input type="text" class="form-control" placeholder=""></div>
  
  <div class="infoline">
    <span>身份证正面：</span>  
    <div class="myphoto">
        <div class="inputbox"><span>选择文件</span><input id="fileUpload1" type="file" /></div> 
        <p>仅支持JPG、PNG、JPEG格式，文件小于4M</p>                                   
        <div id="image-holder1"  class="imageholdbox"> 没有预览可用 </div>                    
      </div>
    <span>身份证反面：</span>  
    <div class="myphoto">
        <div class="inputbox"><span>选择文件</span><input id="fileUpload2" type="file" /></div> 
        <p>仅支持JPG、PNG、JPEG格式，文件小于4M</p>                                   
        <div id="image-holder2"  class="imageholdbox"> 没有预览可用 </div>                    
      </div>
  </div>

  <div class="infoline">
    <span>手持身份证：</span>  
    <div class="myphoto">
        <div class="inputbox"><span>选择文件</span><input id="fileUpload3" type="file" /></div> 
        <p>仅支持JPG、PNG、JPEG格式，文件小于4M</p>                                   
        <div id="image-holder3"  class="imageholdbox"> 没有预览可用 </div>
        <a class="btn btn-default bubble"  href="">保存</a>
      </div>
  </div>   
</div>
