<div class="pagetop">
    <h3>账户安全</h3>               
</div>
<div class="saftylist">
  <div class="saftybox">
    <h2>绑定微信账号</h2>
    <p>3256546657</p>
    <p><a href="" class="blue">修改</a></p>
  </div>
  <div class="saftybox">
    <h2>绑定支付宝账号</h2>
    <p>未绑定</p>
    <p><a href="" class="btn btn-default">立即验证</a></p>
  </div>
  <div class="saftybox">
    <h2>绑定邮箱</h2>
    <p>sdfdgghj@gmail.com</p>
    <p><a href="" class="blue">修改</a></p>
  </div>
  <div class="saftybox">
    <h2>绑定手机号</h2>
    <p>未绑定</p>
    <p><a href="" class="btn btn-default">立即验证</a></p>
  </div>
  <div class="saftybox">
    <h2>登录密码</h2>
    <p>6-15位数字字母组合</p>
    <p><a href="" class="blue">修改</a></p>
  </div>
</div>