<div class="pagetop">
    <h2>样品资料 </h2>
    <div class="pbtn"><button class="btn btn-default" data-toggle="modal" data-target="#gkrk">挂卡入库</button></div>
</div>
<!-- 打印表格主体 -->
<div class="tableprint">               
    
    <table class="table table-bordered table-hover"> 
      <thead>
        <tr>
          <th>编号</th>
          <th>色号</th>
          <th>品类</th>
          <th>成分</th>
          <th>克重</th>
          <th>门幅</th>
          <th>零售单价</th>
          <th>挂样</th>
          <th>资料</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>                   
          <tr>                                           
            <td align="center"><a href="">18063</a></td>
            <td align="center">Nature</td>
            <td align="center">弹力缎</td>
            <td align="center">100S</td>
            <td align="center">16m/m</td>
            <td align="center">114cm</td>   
            <td align="center">50.00</td>
            <td align="center">0+2</td>
            <td align="center">0+2</td>
            <td align="center"><a class="blue" href="" data-toggle="modal" data-target="#dybq">打印标签</a></td>                  
          </tr>
          <tr>                                          
            <td align="center"><a href="">18063</a></td>
            <td align="center">Nature</td>
            <td align="center">弹力缎</td>
            <td align="center">100S</td>
            <td align="center">16m/m</td>
            <td align="center">114cm</td> 
            <td align="center">50.00</td>
            <td align="center">0+2</td>
            <td align="center">0+2</td>
            <td align="center"><a class="blue" href="" data-toggle="modal" data-target="#dybq">打印标签</a></td>                      
          </tr>
          <tr>                                          
            <td align="center"><a href="">18063</a></td>
            <td align="center">Nature</td>
            <td align="center">弹力缎</td>
            <td align="center">100S</td>
            <td align="center">16m/m</td>
            <td align="center">114cm</td> 
            <td align="center">50.00</td>
            <td align="center">0+2</td>
            <td align="center">0+2</td>
            <td align="center"><a class="blue" href="" data-toggle="modal" data-target="#dybq">打印标签</a></td>                        
          </tr>
      </tbody>               
    </table>
  
    <!-- 通用分页 -->
    <nav class="page" aria-label="Page navigation">
      <ul class="pagination">
        <!-- 给不可点击的添加.disabled类 -->
        <li class="disabled">
          <a href="#" aria-label="Previous">
            <span aria-hidden="true"><</span>
          </a>
        </li>
        <!-- 给当前页添加.active类 -->
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">></span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- 通用分页 结束-->
</div>
<!-- 打印表格主体 结束-->


  <!-- 挂卡入库浮出层 -->
<div class="modal fade bs-example-modal-sm" id="gkrk" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">挂卡入库</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-hover inputtable">
          <tbody>
          <tr>
            <th>编号</th>
            <th>色号</th>
            <th>品类</th>
            <th>成分</th>
            <th>克重</th>
            <th>门幅</th>
            <th>挂样</th>
            <th>资料</th>
            <th></th>
          </tr>
          <tr>
            <td>
              <!-- 下拉菜单 -->
                          <div class="dropdown">
                              <input type="text" class="form-control text-left" placeholder="请填写编号" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                              <div class="dropdown-menu " aria-labelledby="Khchose">
                                <div class="scrollbar-rail">
                                <ul>                           
                                  <li><a href="">123456</a></li>
                                  <li><a href="">123456</a></li>
                                  <li><a href="">123456</a></li>
                                  <li><a href="">123456</a></li>
                                  <li><a href="">123456</a></li>
                                  <li><a href="">123456</a></li>
                                  <li><a href="">123456</a></li>                                           
                                </ul>
                              </div>
                              </div>
                            </div>
                            <!-- 下拉菜单 -->
            </td>
            <td>

                <!-- 下拉菜单 -->
                          <div class="dropdown">
                              <input type="text" class="form-control text-left" placeholder="请填写色号" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                              <div class="dropdown-menu " aria-labelledby="Khchose">
                                <div class="scrollbar-rail">
                                <ul>                           
                                  <li><a href="">123456</a></li>
                                  <li><a href="">123456</a></li>
                                  <li><a href="">123456</a></li>
                                  <li><a href="">123456</a></li>
                                  <li><a href="">123456</a></li>
                                  <li><a href="">123456</a></li>
                                  <li><a href="">123456</a></li>                                           
                                </ul>
                              </div>
                              </div>
                            </div>
                            <!-- 下拉菜单 -->
            </td>
            <td><input type="text" class="form-control text-left" placeholder=""></td>
            <td><input type="text" class="form-control text-left" placeholder=""></td>
            <td><input type="text" class="form-control text-left" placeholder=""></td>
            <td><input type="text" class="form-control text-left" placeholder=""></td>
            <td><input type="text" class="form-control text-left" placeholder=""></td>
            <td><input type="text" class="form-control text-left" placeholder=""></td>
            <td></td>
          </tr> 
          </tbody>         
        </table>
        <p><a class="btn btn-info" id="gkrkadd"  href="javascript:void(0)">添加</a></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 挂卡入库浮出层 结束-->
<!-- 打印标签浮出层 -->
<div class="modal fade bs-example-modal-sm" id="dybq" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">打印标签</h4>
      </div>
      <div class="modal-body">
        <div id="printbox" class="tableprint"> 

        <h3 class="dybqh3" align="center">深圳市嫘祖丝绸有限公司</h3>
        <h5 class="dybqh5" align="center">SHENZHEN LEIZU SILK CO., LIMITED</h5> 
         <table class="dybqtable">         
          <tr>
            <td><span>编号</span><span>1820155</span></td>
            <td rowspan="3" align="right"><img src="images/erwei.png" alt=""></td>
          </tr> 
          <tr>
            <td><span>品名</span><span>桑毛绸</span></td>
          </tr> 
          <tr>
            <td><span>成分</span><span>xxxxxxxxx</span></td>
          </tr> 
          <tr>
            <td><span>克重</span><span>xxxxxxxxx</span></td>
            <td align="right">912606060@qq.com</td>
          </tr>
          <tr>
            <td><span>门幅</span><span>111cm</span></td>
            <td align="right">+86 0755-2606-0600</td>
          </tr> 
          <tr>
            <td><span>单价</span><span>97.3CNY/Y(零售)</span></td>
            <td align="right">www.leizu.biz</td>
          </tr>           
        </table> 
        
        </div>
        <button type="button" class="btn btn-default" onclick="jQuery.print('#printbox')">打印</button>
      </div>      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 打印标签浮出层 结束-->

<script type="text/javascript" src="js/main.js"></script>  <!-- 网站主要js -->  

</body>
</html>